.DS_Store
.env
.venv
.env_duck/*
!.env_duck/
!.env_duck/profiles.yml
.pytest_cache/
.ruff_cache/
__pycache__/
build/__pycache__/
tests/__pycache__/
airflow/.local/
data/
*.py[cod]
*.duckdb
*.log

# dbt artifacts
dbt_packages/
logs/
target/
